*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #153677,#4e085f);
    padding: 0.6rem;

    .todo-app{
        width: 100%;
        max-width: 33rem;
        background-color: #fff;
        margin: 6.25rem auto 1.25rem;
        padding: 2.5rem 1.8rem 4.3rem;
        border-radius: 0.6rem;

        h2{
            color: #002765;
            display: flex;
            align-items: center;
            margin-bottom: 1.25rem;

            img{
                width: 1.8rem;
                margin-left: 0.6rem;
            }
        }

        .row{
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: #edeef0;
            border-radius: 1.8rem;
            padding-left: 1.25rem;
            margin-bottom: 1.5rem;

            input{
                flex: 1;
                border: none;
                outline: none;
                background: transparent;
                padding: 0.6rem;
            }

            button{
                border: none;
                outline: none;
                padding: 1rem 3.1rem;
                background-color: #ff5945;
                color: #fff;
                font-size: 1rem;
                cursor: pointer;
                border-radius: 2.5rem;

                &:active{
                    scale: 0.95;
                }
            }
        }

        ul {
            li {
            list-style: none;
            font-size: 1rem;
            padding: 0.75rem 0.5rem 0.75rem 3.1rem;
            user-select: none;
            cursor: pointer;
            position: relative;

            // default circle (unchecked)
            &::before {
            content: '';
            position: absolute;
            height: 1.75rem;
            width: 1.75rem;
            border-radius: 50%;
            background-image: url('./unchecked.png');
            background-size: cover;
            background-position: center;
            top: 0.5rem;
            left: 0.5rem;
        }

            // when checked
            &.checked {
            color: #555;
            text-decoration: line-through;
             transition: all ease 0.2s;

            &::before {
            background-image: url('./checked.png');
            }
        }

          span{
            position: absolute;
            right: 0;
            top: 0.3rem;
            width: 2.5rem;
            height: 2.5rem;
            font-size: 1.3rem;
            color: #555;
            line-height: 2.5rem;
            text-align: center;

            &:hover{
                background-color: #edeef0;
                // border: 1px solid black;
                border-radius: 50%;
                box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.205);
                transform: scale(1.1);
            }
         }
    }
}
    }
}